* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile responsive */
@media (min-width: 320px) and (max-width: 425px) {

  #first {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #data{
    margin: 1rem;
  }

  #map-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #one {
    width: 11rem;
  }

  #two {
    width: 11rem;
  }

  #three {
    width: 11rem;
  }

  #four {
    width: 11rem;
  }
}

/* Tablet responsive */
@media (min-width: 426px) and (max-width: 768px) {
  #one {
    width: 9rem;
  }

  #two {
    width: 9rem;
  }

  #three {
    width: 9rem;
  }

  #four {
    width: 9rem;
  }
}
